

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shares styles */
.display-flex{
    display: flex;
}
/* dark-02 */
.text-gray{
    color: #424242;
}
/* dark-03 */
.text-gray-light{
    color: #727272;
}
.text-primary{
    color:rgba(255, 144, 14, 1) ;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 24px;


}
.section-title{
    font-size:2.8rem ;
    font-weight: 700;
}


/* header styles*/


/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
     margin-right: 30px;

}
.nav-link{
    text-decoration: none;
    font-weight: 500;
   
    
}
.banner, .navbar{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-weight: 600;
    font-size: 3rem;
}
/* banner relater styles */
.banner-container{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom:50px ;

    
}
.banner-title{
    font-weight: 600;
    font-size: 4rem;

}
.banner-img{
    max-width: 100%;
}
main > section{
    margin-top: 130px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
.teams{
    text-align: center;
    
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    max-width: 530px;
    margin-left: 130px;
}
#quick-list{
    font-weight: 500;
}
/* facts-related-styles */
.fact-descriptions{
    max-width: 540px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.card-fact{
    border: 1px solid #FF900E;
    max-width: 241px;
    height: 241px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fact-number{
    font-weight: 600;
    font-size:2.8rem ;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 10px;
}




/* responsive media query */
@media screen and (max-width:576px) {

    .navbar,

    .nav-links,

    .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
        align-items: center;
    } 
}
@media screen and (min-width:576px) and (max-width:992px){
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;

    }
}

